.rsc-os-option-element, .sc-bxivhb, .dbPmFY{
    cursor: pointer;
}

#bot{
    .cwuCQv, .eijbEu{
        border-radius: initial;
        -webkit-border-radius: initial;
        -moz-border-radius: initial;
        -ms-border-radius: initial;
        -o-border-radius: initial;
    }

    .jKLQUD{
        padding:0px;
        border: none;
        background: none;
        box-shadow: initial;
    }

    .irBnpW, .gtoQuC{
        max-width: 75%;
    }

    .iOCYje{
        color: white;
        background-color: #dc6795;
        margin-right: 3%;
    }

    .fmWSyf{
        display: none!important;
    }

    .bNgTFH{
        padding-left: 5%;
    }
    
    .cPycKc{
        width: 50%;
    }

    img{
        width: 100%;
    }

    .rsc-float-button .sc-fjdhpX .dMAUJg{
        width: 80px;
        height: 80px;
        padding: 5px;
    }

    .sc-jzJRlG .cPycKc{
        width: 50%;
    }

    // Custome compnent hello
    .rsc-ts.rsc-ts-bot.sc-dnqmqq.efROPc{
        width: 100%;
    }
}    