@import "../helpers/varaibles.scss";

h1{
    font-family: $titre;
    font-size: 85px;
}

h3{
    font-family: $labeur;
}

p{
    font-family: $labeur;
    font-size: 25px;
    font-weight: 300;
}

a{
    font-family: $labeur;
}
