.container {
    width: 80%;
    margin: auto;
    display: block;
}

header,
footer {
    height: 5vh;
    background-color: red;
}

.main div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    // article, aside{
    //     padding: 3%;
    //     margin-bottom: 3%;
    // }
}

// section div article {
//     padding: 5%;
//     margin-bottom: 5%;
// }

#recompenses div article:last-child {
    margin-bottom: 0%;
}

#concept div article:first-child,
#progression div article:last-child,
#recompenses div article:first-child {
    background-color: red;
    width: 60%;
}

#concept div article:last-child,
#progression div article:first-child,
#recompenses div article:last-child {
    background-color: gray;
    width: 40%;
}

@media only screen and (max-width: 600px) {

    #concept div article:first-child,
    #progression div article:last-child,
    #recompenses div article:first-child,
    #concept div article:last-child,
    #progression div article:first-child,
    #recompenses div article:last-child {
        width: 100%;
    }

    .main{
        article, aside{
            width: 100%;
        }
    }
}