// Font
$toto  : 100px;

// Couleurs
$white: #fff;
$border : #DC6795;
// #E76B61 / #DC6795
$MainF : #1f0049;
$MainC : #330670;

// Images

$titre : 'Playfair Display', serif;
$labeur: 'Open Sans', sans-serif;